  /* -------------------------------------- */
/* BASIC SETUP  */
/* -------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', san-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
.clearfix {
  zoom: 1
}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* -------------------------------------- */
/* Navigation  */
/* -------------------------------------- */

.author-link {
  color: #cecece;
  font-size: 80%;
  font-weight: 400;
  margin-top: 15px;
  float: left;
  margin-left: 0px;
  letter-spacing: 1px;
}
.main-nav {
  font-size: 80%;
  font-weight: 400;
  margin-top: 15px;
  list-style: none;
  float: right;
  margin-right: 0px;
}
.main-nav li {
  display: inline-block;
  padding: 0px 8px 0px 5px;
}
.main-nav li a {
  color: #cecece;
}
.navbar-default {
  background-color: rgb(54, 54, 54);
  border-color: rgb(36, 36, 36);
}
.glyphicon {
  float: right;
  margin-top: 15px;
  cursor: pointer;
  display: none;
}

/* -------------------------------------- */
/* BODY  */
/* -------------------------------------- */

body {
  padding-top: 50px;
}
.row {
  display: block;
  text-decoration: none;
}
.left {
  float: left;
}
.right {
  float: right;
}

/* -------------------------------------- */
/* LINKS  */
/* -------------------------------------- */

a {
  color: dimgrey;
}

/* -------------------------------------- */
/* BUTTONS COMPONENTS  */
/* -------------------------------------- */

.btn {
  text-decoration: none;
  color: dimgrey;
  font-size: 102%;
  margin: 4px;
  padding: 3px;
}

/* -------------------------------------- */
/* Section Intro  */
/* -------------------------------------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../images/mac1.gif);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

/*
.divider {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}
*/

.intro-name,
.intro-desc,
.divider,
.button-intro {
  text-align: center;
  width: auto;
}
.intro-name {
  padding-top: 50px;
}
.intro-name h1 {
  color: #fff;
  font-size: 350%;
  font-weight: 200;
}
.intro-desc h2 {
  color: #e5e5e5;
  font-size: 170%;
  font-weight: 300;
}
.button-intro {
  padding-top: 20px;
  padding-bottom: 30px;
}
.button-intro a {
  font-size: 90%;
  font-weight: 400;
}

/* -------------------------------------- */
/* 3d buitton  */
/* http://bootsnipp.com/snippets/featured/3d-buttons-effects */
/* -------------------------------------- */

.btn3d {
  transition: all .08s linear;
  position: relative;
  outline: medium none;
  -moz-outline-style: none;
  border: 0px;
  margin-right: 10px;
  margin-top: 15px;
  /*  top: 0; */
}
.btn3d:focus {
  outline: medium none;
  -moz-outline-style: none;
}
.btn3d:active {
  top: 9px;
}
.btn3d.btn-default {
  box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.btn3d:active.btn-default {
  box-shadow: none;
}

/* -------------------------------------- */
/* Section About  */
/* -------------------------------------- */

.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/officea.gif);
  background-size: cover;
  background-attachment: fixed;
/*  background-position: center; */
/*  height: 100vh;*/
}
.allen-pic {
  border-radius: 50%;
  border: 1px solid #999;
  margin-top: 100px;
  margin-bottom: 30px;
}
.allen-pic-col {
  margin-top: 20px;
  width: 17%;
  margin-right: 10px;
}
.about-title,
.about-para {
  color: #fff;
}
.about-title {
  font-weight: 300;
  margin-top: 100px;
}
.competency,
.tools {
  font-weight: 300;
  margin-top: 40px;
}
p {
  margin-left: 0px;
  padding-left: 0px;
}

/* -------------------------------------- */
/* PORTFOLIO  */
/* -------------------------------------- */

.portfolio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(../images/bgg1.gif);
  background-size: cover;
  background-attachment: fixed;
/*  background-position: center; */
/*  height: 100vh;*/
}
.portfolio-title,
.portfolio-desc {
  text-align: center;
  width: auto;
  color: #333;
}
.portfolio-title {
  margin-top: 100px;
  margin-bottom: 20px;
}
.portfolio-title h3 {
  font-size: 250%;
  font-weight: 300;
}
.portfolio-desc {
  margin-bottom: 30px;
  font-size: 110%;
  font-weight: 400;
}
.box {
  width: 30%;
  height: 250px;
  display: inline-block;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border: 1px solid #999;
}
.pbox {
  margin: auto;
}

/* -------------------------------------- */
/*   Contact   */
/* -------------------------------------- */

.contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/laptop1.gif);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}
.contact h3 {
  margin-top: 60px;
  color: #fff;
  font-size: 110%;
  font-weight: 300;
}
.contact p {
  color: #fff;
}

.contact {
  position: relative;
}

.contact-button {
    float: left;
    list-style: none;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.contact-button li{
  display: inline-block;
}
/* -------------------------------------- */
/*   Footer   */
/* -------------------------------------- */

.footer-nav {
  margin: 5px 15px 5px 0px;
}
.footer-nav li {
  display: inline-block;
  color: dimgrey;
  font-size: 80%;
  font-weight: 400;
  margin-right: 15px;
}
.copy {
  font-size: 80%;
  font-weight: 400;
  margin-bottom: 10px;
}

/* -------------------------------------- */
/*  Media Querries   */
/* -------------------------------------- */

@media only screen and (max-width: 767px) {
  .glyphicon {
    color: #b4b4b4;
    display: inline-block;
    border: 1px solid #5a5a5a;
    padding: 3px;
  }
  .main-nav {
    display: none;
  }
  .main-nav {
    float: right;
    margin-top: 55px;
    margin-right: 25px;
  }
  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%;
  }
  .main-nav li {
    display: block;
  }

  .box {
    margin-left: 5%;
    height: 220px;
    width: 280px;
    margin-bottom: 10px;
  }

  .portfolio-container {
    margin-bottom: 30px;
  }

  @media only screen and (max-width: 640px) {
.box {
  margin-left: 20%;
  height: 250px;
  width: 320px;
 }
}

  @media only screen and (max-width: 480px) {
  .intro-name {
    font-size: 60%
  }

  .intro-desc {
    font-size: 80%
  }


  .portfolio-title {
    margin-top: 15px;
  }
  .portfolio-title h3 {
    font-size: 150%;
  }
  .portfolio-desc {
    font-size: 90%;
    font-weight: 400;
    margin-bottom: 10px;
  }
.box {
  margin-left: 5%;
  height: 220px;
  width: 320px;
 }
}
